<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отбор астронавтов</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
    <h1>Анкета претендента</h1>
    <h2>Отбор астронавтов</h2>
    <form method="post" action="astronaut_selection">
        <div class="mb-3">
            <input type="text" class="-form-control" placeholder="Введите Фамилию" name="surname">
        </div>
         <div class="mb-3">
            <input type="text" class="-form-control" placeholder="Введите Имя" name="name">
        </div>
        <div class="mb-3">
            <input type="email" class="-form-control" placeholder="Введите Электронную почту" name="email">
        </div>
        <div class="mb-3">
            <h4>Образование</h4>
            <select class="form-select" name="education" aria-label="Образование">
                <option value="Начальное"> Начальное </option>
                <option value="Среднее"> Среднее </option>
                <option value="Высшее"> Высшее </option>
                <option value="Кандидат наук"> Кандидат наук </option>
            </select>
        </div>
    <div class="mb-3">
        <h4>Профессии</h4>
        <div class="form-chech">
            <input type="checkbox" value="Пилот"
                    class="form-check-input" name="profession"
                        id="pilot">
            <label class="form-check-label" for="pilot"> Пилот </label>
        </div>
        <div class="form-chech">
            <input type="checkbox" value="Доктор"
                    class="form-check-input" name="profession"
                        id="doctor">
            <label class="form-check-label" for="doctor"> Доктор </label>
        </div>
        <div class="form-chech">
            <input type="checkbox" value="Метеоролог"
                    class="form-check-input" name="profession"
                        id="meteo">
            <label class="form-check-label" for="meteo"> Метеоролог </label>
        </div>
        <div class="form-chech">
            <input type="checkbox" value="Инженер"
                    class="form-check-input" name="profession"
                        id="engineer">
            <label class="form-check-label" for="engineer"> Инженер </label>
        </div>
        <div class="form-chech">
            <input type="checkbox" value="Экзобиолог"
                    class="form-check-input" name="profession"
                        id="ekzo">
            <label class="form-check-label" for="ekzo"> Экзобиолог </label>
        </div>
    </div>
    <div class="mb-3">
        <h4>Пол</h4>
        <div class="form-check">
            <input type="radio" value="Мужской" name="gender"
                    id="male" class="form-check-input">
            <label class="form-check-label" for="male">
                Мужской
            </label>
        </div>
        <div class="form-check">
            <input type="radio" value="Женский" name="gender"
                    id="female" class="form-check-input">
            <label class="form-check-label" for="female">
                Женский
            </label>
        </div>
    </div>
        <div class="mb-3">
            <h4>Мотивация</h4>
            <textarea class="form-control"
                      name="motivation"></textarea>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" value="Готов"
                 class="form-check-input" id="ready" name="ready">
                <label class="form-check-label" for="ready">
                    Готовы ли вы остаться?
                </label>
            </div>
        </div>
        <div class="mb-3">
            <input type="submit" value="Отправить анкету"
            class="btn btn-dark">
        </div>
    </form>
            </div></div></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
