{% extends "base.html" %}

{% block content %}
<h1>Добавление работы</h1>
<form action="jobs" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
    {% endfor %}
    </p>
    <p>
        {{ form.team_leader.label }}<br>
        {{ form.team_leader(class="form-control") }}<br>
        {% for error in form.team_leader.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
    {% endfor %}
    </p>
    <p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
    {% endfor %}
    </p>
    <p>
        {{ form.collaborators.label }}<br>
        {{ form.collaborators(class="form-control") }}<br>
        {% for error in form.collaborators.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
    {% endfor %}
    </p>
    <p>{{ form.finished() }} {{ form.finished.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
